<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Mesapp</title>
	<link rel="stylesheet" href="http://localhost:3000/css/main.css">
</head>
<body>
	<%- include ("./layout/head.ejs") %>
	<main>
		<section class="chat_user">
			<div class="chat_user_search">
				<form action="" method="">
					<input type="text" placeholder="Find someone">
				</form>
			</div>
			<div class="chat_user_list">
			</div>
		</section>
		<section class="chat_play">
			<nav class="chat_play_intro">
			</nav>
			<div class="chat_play_conv">
			</div>
			<div class="chat_play_input">
				<form action="" method="">
					<input type="text" placeholder="Type something">
					<span class="send">Send</span>
				</form>
			</div>
		</section>
	</main>
</body>
</html>